@use 'variables' as *;
@use './components/login';
@use './components/header';
@use './components/lobby';
@use './components/modal';
@use './components/betting-area';
@use './components/betting-area-niu';
@use './components/niu-bottom';
@use './components/loading';
@use './components/result-grid';
@use './components/category-filter';
@use './components/pagcor-popup';

.top-bottom-line {
  position: relative;
  &::before {
    content: '';
    top: -1px;
    height: 5px;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(122, 32, 152, 0) 0%,
      rgb(214, 158, 255) 49%,
      rgba(115, 47, 141, 0) 99%
    );
    z-index: 1;
    position: absolute;
    left: 0;
    filter: blur(3px);
  }
  &::after {
    content: '';
    bottom: -1px;
    height: 5px;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(122, 32, 152, 0) 0%,
      rgb(214, 158, 255) 49%,
      rgba(115, 47, 141, 0) 99%
    );
    z-index: 1;
    position: absolute;
    left: 0;
    filter: blur(3px);
  }
}

.top-line {
  position: relative;
  &::before {
    content: '';
    top: -1px;
    height: 5px;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(122, 32, 152, 0) 0%,
      rgb(214, 158, 255) 49%,
      rgba(115, 47, 141, 0) 99%
    );
    z-index: 1;
    position: absolute;
    left: 0;
    filter: blur(3px);
  }
}

.result-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  z-index: 2;
  img {
    width: 90px;
  }
  span {
    font-style: italic;
  }
  &.or {
    background: linear-gradient(rgb(26 1 37) 0%, rgb(95 0 70) 100%) !important;
    span {
      color: #ff4950;
    }
  }
  &.oo {
    background: linear-gradient(#c17108cc 0%, rgb(61 46 29) 100%) !important;
    span {
      color: #ffaf45cc;
    }
  }
  &.go {
    background: linear-gradient(rgb(97 97 97) 0%, rgb(17 17 17) 100%) !important;
    span {
      color: #ffffffcc;
    }
  }
}

.custom-slider-thumb {
  background-color: #ff0087;
  filter: blur(3px);
  border-radius: 100px;
}

.custom-btn {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: fit-content;
  min-width: 150px;
  height: 46px;
  background-color: unset;
  filter: brightness(1) drop-shadow(0 0 6px #000);
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 18px;
  &:hover {
    background-color: unset;
    filter: brightness(1.2) drop-shadow(0 0 6px #000);
  }
  &.red-btn {
    background-image: url('../assets/images/red-btn.png');
  }
  &.purple-btn {
    background: linear-gradient(to bottom, #c149f5, #7c27d8);
    box-shadow:
      0 0 8px #a135db,
      0 0 16px #a135db inset;
    color: #ffffff;
    border-radius: 10px;
    border: 3px solid #c55bff !important;
  }
  &.green-btn {
    background: linear-gradient(to bottom, #49e736, #09800a);
    box-shadow:
      0 0 8px #74ab5c,
      0 0 16px #48e627 inset;
    color: #ffffff;
    border-radius: 10px;
    border: 3px solid #76ff60 !important;
  }
  &.gold-btn {
    background-image: url('../assets/images/gold-btn.png');
  }
  &.btn-long {
    &.gold-btn {
      background-image: url('../assets/images/gold-btn-long.png');
    }
  }
}

.chip {
  width: 48px;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 5px #0000008f);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 3px #000;
  transform: scale(1);
  transition: 0.1s ease-in-out;
  filter: brightness(1);
  position: relative;
  span,
  p {
    font-weight: 700;
    font-size: 17px;
  }
  &.blue-chip {
    background-image: url(../assets/images/chips/blue-chip-niu.png);
  }
  &.green-chip {
    background-image: url(../assets/images/chips/green-chip-niu.png);
  }
  &.pink-chip {
    background-image: url(../assets/images/chips/pink-chip-niu.png);
  }
  &.yellow-chip {
    background-image: url(../assets/images/chips/yellow-chip-niu.png);
  }
  &.brown-chip {
    background-image: url(../assets/images/chips/brown-chip-niu.png);
  }
  &.orange-chip {
    background-image: url(../assets/images/chips/orange-chip-niu.png);
  }
  &.purple-chip {
    background-image: url(../assets/images/chips/purple-chip-niu.png);
  }
  &.red-chip {
    background-image: url(../assets/images/chips/red-chip-niu.png);
  }
  &.niu {
    text-shadow: unset;
    filter: drop-shadow(0 0 3px #000);
    p {
      -webkit-background-clip: text !important;
      background-clip: text !important;
      color: transparent !important;
      filter: drop-shadow(0 0 1px #000) drop-shadow(0 0 1px #000) drop-shadow(0 0 1px #000);
      font-size: 20px;
    }
    &.blue-chip {
      background-image: url(../assets/images/chips/blue-chip-niu.png);
      p {
        background: linear-gradient(180deg, #ffffff, #005dff);
      }
    }
    &.green-chip {
      background-image: url(../assets/images/chips/green-chip-niu.png);
      p {
        background: linear-gradient(180deg, #ffffff, #3cbe50);
      }
    }
    &.pink-chip {
      background-image: url(../assets/images/chips/pink-chip-niu.png);
      p {
        background: linear-gradient(180deg, #ffffff, #911941);
      }
    }
    &.yellow-chip {
      background-image: url(../assets/images/chips/yellow-chip-niu.png);
      p {
        background: linear-gradient(180deg, #ffffff, #bbb337);
      }
    }
    &.brown-chip {
      background-image: url(../assets/images/chips/brown-chip-niu.png);
      p {
        background: linear-gradient(180deg, #ffffff, #005dff);
      }
    }
    &.orange-chip {
      background-image: url(../assets/images/chips/orange-chip-niu.png);
      p {
        background: linear-gradient(180deg, #ffffff, #005dff);
      }
    }
    &.purple-chip {
      background-image: url(../assets/images/chips/purple-chip-niu.png);
      p {
        background: linear-gradient(180deg, #ffffff, #7e1991);
      }
    }
    &.red-chip {
      background-image: url(../assets/images/chips/red-chip-niu.png);
      p {
        background: linear-gradient(180deg, #ffffff, #911941);
      }
    }
    &.active {
      &::before {
        border: 2px solid #ff09fc;
        box-shadow: inset 0 0 10px rgb(191 6 190);
        left: 50%;
        top: 50%;
      }
    }
  }
  &.active {
    transform: scale(1.1);
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      border-radius: 100px;
      border: 1px solid #ffe15d;
      box-shadow: inset 0 0 10px #fcff5daf;
      left: 49%;
      top: 49%;
      transform: translate(-50%, -50%);
    }
  }
  &:hover {
    transform: scale(1.2);
  }
}

.winner-pop-motion {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 9999 !important;
}

.winner-pop {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Kings', cursive;
  padding: 25px 40px;
  width: fit-content;
  min-width: 500px;
  // z-index: 9999 !important;
  .subtitle {
    font-size: 20px;
    line-height: 1.2 !important;
  }
  .pop-border {
    position: absolute;
    z-index: 2;
    width: 280px !important;
    filter: drop-shadow(0 0 5px #000);
    &.pop-border-1 {
      left: 50%;
      top: -17px;
      transform: translateX(-50%);
    }
    &.pop-border-2 {
      left: 50%;
      bottom: -17px;
      transform: translateX(-50%) scaleY(-1);
    }
  }
  p {
    font-size: 50px;
    line-height: 1;
    filter: drop-shadow(0 0 6px #000);
    text-align: center;
    // text-transform: capitalize !important;
  }
  &::before {
    content: '';
    top: 0;
    height: 5px;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    filter: blur(3px);
  }
  &::after {
    content: '';
    bottom: 0;
    height: 5px;
    width: 100%;

    z-index: 1;
    position: absolute;
    left: 0;
    filter: blur(3px);
  }
  &.winner-banker,
  &.winner-0 {
    background: linear-gradient(90deg, #a1141600 0%, #831012 34%, #831012 65%, #a0141600 100%);
    &::after,
    &::before {
      background: linear-gradient(90deg, rgb(69 0 0 / 0%) 0%, #ff0d0d 49%, rgb(27 0 0 / 0%) 100%);
    }
  }
  &.winner-player {
    background: linear-gradient(
      90deg,
      rgba(161, 20, 22, 0) 0%,
      rgb(7 92 166) 34%,
      rgb(8 95 175) 65%,
      rgba(160, 20, 22, 0) 100%
    );
    &::after,
    &::before {
      background: linear-gradient(
        90deg,
        rgba(69, 0, 0, 0) 0%,
        rgb(25, 147, 253) 49%,
        rgba(27, 0, 0, 0) 100%
      );
    }
  }
  &.winner-tie {
    background: linear-gradient(
      90deg,
      rgb(18 118 49 / 0%) 0%,
      rgb(18 103 43) 34%,
      rgb(18 129 53) 65%,
      rgb(18 119 49 / 0%) 100%
    );
    &::after,
    &::before {
      background: linear-gradient(
        90deg,
        rgba(69, 0, 0, 0) 0%,
        rgb(32, 221, 89) 49%,
        rgba(27, 0, 0, 0) 100%
      );
    }
  }
  &.winner-6 {
    background: linear-gradient(90deg, #a1141600 0%, #c17108cc 34%, #c17108cc 65%, #a0141600 100%);
    &::after,
    &::before {
      background: linear-gradient(90deg, rgba(69, 0, 0, 0) 0%, #ffbc0d 49%, rgba(27, 0, 0, 0) 100%);
    }
  }
  &.winner-7,
  &.winner-9 {
    background: linear-gradient(90deg, #a1141600 0%, #616161 34%, #616161 65%, #a0141600 100%);
    &::after,
    &::before {
      background: linear-gradient(90deg, rgba(69, 0, 0, 0) 0%, #ffffff 49%, rgba(27, 0, 0, 0) 100%);
    }
  }
}

.stream-view {
  width: 100%;
  height: calc(100% - 410px);
  background: aliceblue;
  top: 0;
  position: fixed;
  padding: 0;
  pointer-events: none;
  iframe {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border: unset;
    pointer-events: none;
  }
}

.change-table {
  width: 115px;
  min-width: unset;
  height: 33px;
  font-size: 10px;
}

.user-info-parent {
  background: linear-gradient(360deg, rgb(37 44 74) 0%, rgb(65 69 118) 100%);
  box-shadow: 0 3px 2px #000;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  min-width: 255px;
  border-radius: 7px;
  padding: 2px 20px;
  .flag {
    width: 20px;
  }
  .username {
    width: 100%;
    text-align: center;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.niu-clear-btn,
.niu-placebet-btn {
  position: absolute;
  border-radius: 100px;
  width: 85px;
  aspect-ratio: 1/1;
  height: 85px;
  top: 26px;
  padding: 0 !important;
  background-color: unset;
  background-position: center;
  background-size: 100% 100%;
  filter: drop-shadow(0 0 4px #000);
  &:hover {
    background-color: unset;
  }
}

.niu-clear-btn {
  background-image: url(../assets/images/clear-bet-btn.png);
  left: 25px;
}

.niu-placebet-btn {
  background-image: url(../assets/images/place-bet-btn.png);
  right: 25px;
}

.niu-place-btn-wrapper,
.niu-clear-btn-wrapper {
  position: absolute;
  top: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 166px;
  height: 139px;
}

.niu-clear-btn-wrapper {
  left: -42px;
  background-image: url(../assets/images/control-panel-left.png);
}

.niu-place-btn-wrapper {
  right: -42px;
  background-image: url(../assets/images/control-panel-right.png);
}

.timer {
  background-color: rgb(31 0 39);
  border-radius: 100px;
  backdrop-filter: blur(10px);
  pointer-events: none;
  &.animate {
    animation: pulse-drop-shadow 1s 0.5s ease-in-out infinite;
  }
  p,
  span {
    font-weight: 900;
    background: -webkit-linear-gradient(#00ffd5, #0048ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.purple-silver-btn {
  background: url(../assets/images/panel-bg-1.png);
  background-size: 100% 100%;
  padding: 10px;
  width: 100%;
  bottom: -90px;
  text-align: center;
  font-weight: 600;
}

@keyframes pulse-drop-shadow {
  0% {
    filter: drop-shadow(0 0 16px #f836ff);
  }
  50% {
    filter: drop-shadow(0 0 0px #f718ff00);
  }
  100% {
    filter: drop-shadow(0 0 16px #3ad8ff);
  }
}

.niu-livestream {
  width: calc(100% - 690px);
  height: calc(-363px + 100vh);
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  // top: 89px;
}

.bacc-livestream {
  width: 100%;
  height: calc(100% - 242px);
  position: absolute;
  top: 0;
  cursor: pointer !important;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 70% 70%,
      #c94b3f 92%,
      #c94b3f 224% 100%
    ) !important;
    z-index: 0;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: calc(-99% - 1000px);
    left: 0;
    width: 100%;
    height: calc(100% + 1000px);
    background: #c94b3f;
    z-index: 0;
  }
}

.stream-loading {
  background-image: url(../assets/images/stream-loading-bg.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  backdrop-filter: blur(10px);
  width: 100% !important;
  height: 100% !important;
  .tabler-icon-video-filled {
    position: absolute;
  }
}

.road-theme-control {
  border-radius: 8px;
  padding: 10px 33px;
  padding-bottom: 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: 1px solid rgba(129, 29, 147, 0);
  > * {
    z-index: 1;
    position: relative;
    text-shadow: 0 0 5px #000;
  }
  &.active {
    border: 1px solid rgba(129, 29, 147, 0.29);
    position: relative;
    overflow: hidden;
    background: #5d2f6e4f;
    backdrop-filter: blur(20px);
    &::before {
      content: '';
      width: 71%;
      height: 38px;
      background: linear-gradient(90deg, #3e42ff 0%, #ff0081 100%);
      position: absolute;
      border-radius: 100%;
      filter: blur(22px);
      left: 50%;
      transform: translateX(-50%);
      bottom: -23px;
      z-index: 0;
    }
  }
}

.player-landscape {
  margin-right: 6px !important;
  &:first-child {
    transform: rotate(270deg);
    margin-right: 7px;
  }
}

.banker-landscape {
  &:last-child {
    transform: rotate(90deg);
    margin-left: 6px;
  }
}

// .stream-zoom {
//   transform: translateY(-350px) scale(2);
// }

iframe {
  pointer-events: none !important;
  transition: 0.5s ease-in-out;
}
