$shine-color: rgba(255, 255, 255, 0.6);
$animation-duration: 2s;
$dark-color: #0e0515;
$dark-color2: #4d0000;
$dark-light-color: #1f020069;
$gold-gradient: linear-gradient(2deg, #444444 0%, #d1c3c7 100%);
$red-dark-gradient: linear-gradient(180deg, rgb(54 18 84) 2%, rgb(14 5 21) 100%) 100%;
$text-gradient: linear-gradient(0deg, #ffffff, #9b9b9b);
$text-gradient2: linear-gradient(0deg, #b58d5c, #ffe0b9);
$icon-color: #d19bff;
